h1{
    text-align: center;
    color: blue;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
#pic{
    height: 25px;
    width:25px;
}
h2{
    text-align: center;
    color: blue;
}
.quotes{
    text-align: center;
}
#quote{
    color: red;
    font-size: 20px;
    background-color: #020505;
}
.portfolio{
    text-align: center;
    color: red;
}
h4{
    text-align: center;
    color: #f11111;
}
img{
    width: 250px;
    height: 240px;
}
.links{
    text-align: center;
    color: red;
}

p{
    color: #f11111;
}

.flex-container{
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
}

